@{
    ViewBag.Title = "Set Pickup Days Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <div class="alert-success">
                    Your pickup schedule has been set. Expect garbage people to come for collection.                    
                    </div>
                </div>
            </div>
        </div>
        
    </p>
</div>