
@{
    ViewBag.Title = "SetVacationDaysConfirmation";
}

<h2>SetVacationDaysConfirmation</h2>
<div>
    <p>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert-success">
                        Your vacation schedule has been set. Pickup will resume on the next pickup day following the end date of your vacation. Your monthly bill will reflect this change in service.
                    </div>
                </div>
            </div>
        </div>

    </p>
</div>
