@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GRBG_GRBLR</h1>
    <p class="lead">The future is <strong>trash.</strong></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make a payment</h2>
        <p>
            
        </p>
        <p>@Html.ActionLink("Check your Account", "GetAccount")</p>
    </div>
    
</div>